body{
	font-family: Segoe UI;
	font-size: 27px;
	color: #FFFFFF;
	background-image: url("../img/Group 66.png");
}
header{
	background-color: #FFFFFF;
	padding: 1%;
	font-size: 30px;
	text-align: center;
}
.logo-redondo{
	border-radius: 50px;
}

.carrito-icono{
	color: #638118;
	font-size: 46px;
}
header a{
	text-decoration: none;
	color: #98A800;
}

#hero{
	padding: 6% 0px;
	
}

#hero h1{
	padding: 1%;
	color: #3B321F;
	font-size: 40px;
	text-align: center;

}
#hero p{
	text-align: center;
	padding: 0% 1%;
}

#hero h3{
	text-align: center;
	
}
#hero img{
	border-radius: 24px;
	
}
#horarios{
	color: #707070;
	text-align: center;
	padding: 2% 2%;
}
#horarios .parrafo-horario{
	margin-bottom: 0px !important;
}

footer{
	background-color: #638118;
	padding: 4% 0%;
	color: #D2CC63;
	text-align: center;
}
footer .logo-redondo{
	border-radius: 50px;
}
#hero .glass1{
	background: rgba(255, 255, 255, 0.61);
border-radius: 50px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(6.6px);
-webkit-backdrop-filter: blur(6.6px);
padding: 2%;
}
#hero .glass2{
	background: rgba(255, 255, 255, 0.12);
border-radius: 40px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(15px);
-webkit-backdrop-filter: blur(15px);
padding-bottom: 2%;
}
.glass3{
	background: rgba(255, 255, 255, 0.78);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(8.3px);
-webkit-backdrop-filter: blur(8.3px);
}
#horarios{
	margin-top: 5%;
	margin-bottom: 2%;
}
.linea{
    border-right: solid 2px #98a800;
}